---
# The main scss file
---

@import "reset.scss";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");

$content-width: 960px;

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5em;
  margin-top: -1em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
}

small {
  font-size: 0.9em;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

code {
  font-family: monospace;
}

table {
  th,
  td {
    border: 1px solid black;
    padding: 5px 10px;
  }
  th {
    font-weight: 700;
  }
  th:first-child,
  td:first-child {
    font-weight: 700;
  }
  td:first-child,
  th:first-child {
    border-left: none;
  }
  td:last-child,
  th:last-child {
    border-right: none;
  }
  th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  tr:last-child td {
    border-bottom: 2px solid black;
  }

  tr.row-with-video {
    td {
      border-bottom: none;
    }
  }
  tr.row-video {
    td {
      border-top: none;
    }
  }

  .what,
  .how {
    &:before {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      vertical-align: top;
      position: relative;
      top: 1px;
      content: " ";
      background-size: 100%;
    }
  }
  .what {
    &:before {
      background-image: url(/images/what.png);
    }
  }
  .how {
    &:before {
      background-image: url(/images/how.png);
    }
  }
  td small {
    margin-top: 5px;
    display: block;
    font-weight: normal;
  }
}

.table-summary {
  th:first-child,
  td:first-child {
    width: 192px;
  }
  th:not(:first-child) {
    width: 256px;
  }
}

.table-terminology {
  th:first-child,
  td:first-child {
    width: 480px;
  }
  th:not(:first-child) {
    width: 160px;
  }
}

p {
  line-height: 1.5em;
  text-align: justify;
  hyphens: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  border: none;
  margin: 0;
  margin-top: 5px;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #aaa;
  &:hover {
    border-color: black;
  }
}

.page-content {
  width: $content-width;
  overflow: hidden;
  margin: 0px auto;
}

img,
video {
  max-width: 100%;
  background: white;
}

figure,
.video-wrapper {
  width: 100%;
  background: #f4f4f4;
  // border: 1px solid #f0f0f0;
  box-sizing: border-box;
  margin: 1em 0;
}

.video-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  p {
    text-align: left;
    hyphens: none;
  }

  .video-item {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin: 10px;
    video {
      width: 100%;
      cursor: pointer;
    }
    h4 {
      font-weight: bold;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 0.2em;
    }
    p {
      margin: 0;
    }
  }
}

.popup-video-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popup-video {
  margin: 150px;
  margin-top: 30px;
  video {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

hr {
  border: none;
  height: 0;
  margin: 1em 0;
  margin-top: 2em;
  border-top: 1px solid #cccccc;
}
