---
# The main scss file
---

@import "reset.scss";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");

$content-width: 960px;

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
}

h1 {
  font-size: 2em;
  font-weight: 400;
}

.subtitle {
  font-size: 1.5em;
  margin-top: -1em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
}

small {
  font-size: 0.9em;
}

em,
i {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

code {
  font-family: monospace;
}

table {
  line-height: 1.2em;
  th,
  td {
    border: 1px solid black;
    padding: 5px 10px;
  }
  th {
    font-weight: 700;
  }
  th:first-child,
  td:first-child {
    font-weight: 700;
  }
  td:first-child,
  th:first-child {
    border-left: none;
  }
  td:last-child,
  th:last-child {
    border-right: none;
  }
  th {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  tr:last-child td {
    border-bottom: 2px solid black;
  }

  tr.row-with-video {
    td {
      border-bottom: none;
    }
  }
  tr.row-video {
    td {
      border-top: none;
    }
  }
  td small {
    margin-top: 5px;
    display: block;
    font-weight: normal;
  }
}

.table-summary {
  th:first-child,
  td:first-child {
    width: 192px;
  }
  th:not(:first-child) {
    width: 256px;
  }
}

.table-terminology {
  th:first-child,
  td:first-child {
    width: 480px;
  }
  th:not(:first-child) {
    width: 160px;
  }
}

.what,
.how {
  &:before {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 3px;
    vertical-align: top;
    position: relative;
    top: 3px;
    content: " ";
    background-size: 100%;
  }
}
.what {
  &:before {
    background-image: url(/images/what.png);
  }
}
.how {
  &:before {
    background-image: url(/images/how.png);
  }
}

.notes {
  margin: 1em 0;
  font-size: 0.9em;
  line-height: 1.4em;
}

p {
  line-height: 1.5em;
  text-align: justify;
  hyphens: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  border: none;
  margin: 0;
  margin-top: 5px;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #aaa;
  &:hover {
    border-color: black;
  }
}

.video-thumbnail {
  width: 100%;
  padding-top: 56.25%;
  background-size: 100%;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  opacity: 0.8;
  border: 1px solid transparent;
  box-sizing: border-box;

  .play-overlay {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzMwMHB4JyB3aWR0aD0nMzAwcHgnICBmaWxsPSIjMDAwMDAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgODAgODAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDgwIDgwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48Zz48cGF0aCBkPSJNNjQuNjIyLDIuNDExSDE0Ljk5NWMtNi42MjcsMC0xMiw1LjM3My0xMiwxMnY0OS44OTdjMCw2LjYyNyw1LjM3MywxMiwxMiwxMmg0OS42MjdjNi42MjcsMCwxMi01LjM3MywxMi0xMlYxNC40MTEgICBDNzYuNjIyLDcuNzgzLDcxLjI0OSwyLjQxMSw2NC42MjIsMi40MTF6IE0yNC4xMjUsNjMuOTA2VjE1LjA5M0w2MSwzOS4xNjhMMjQuMTI1LDYzLjkwNnoiPjwvcGF0aD48L2c+PC9zdmc+");
    background-size: 100%;
    background-repeat: no-repeat;
    filter: invert(40%);
  }

  &:hover {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.5);
    .play-overlay {
      filter: none;
    }
  }
}

.page-content {
  width: $content-width;
  overflow: hidden;
  margin: 0px auto;
}

img,
video {
  max-width: 100%;
  background: white;
}

figure,
.video-wrapper {
  width: 100%;
  background: #f4f4f4;
  // border: 1px solid #f0f0f0;
  box-sizing: border-box;
  margin: 1em 0;
}

.video-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  p {
    text-align: left;
    hyphens: none;
  }

  .video-item {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    margin: 10px;
    video {
      width: 100%;
      cursor: pointer;
    }
    h4 {
      font-weight: bold;
      margin: 0;
      margin-top: 1em;
      margin-bottom: 0.2em;
    }
    p {
      margin: 0;
    }
  }
}

.popup-video-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popup-video {
  margin: 150px;
  margin-top: 30px;
  video {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

hr {
  border: none;
  height: 0;
  margin: 1em 0;
  margin-top: 2em;
  border-top: 1px solid #cccccc;
}
